# Ambiente Virtual
.venv/

# Cache do Python
__pycache__/
*.pyc

# Arquivos do Jupyter Notebook
.ipynb_checkpoints/

# Comando para popular o .gitignore
cat <<EOL > .gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Models
models/*.joblib

# OS-specific
.DS_Store
EOL
